.full-width-table {
  width: 100%;
}

.form{
  margin-top: 2%;
}

.btn_novo{
  text-align: center;
  outline-color: blue;
}

.mat-button.mat-success,
.mat-stroked-button.mat-accent {
    color: #d5ce0f;
}

