<div fxLayout="row" fxLayoutAlign="space-around">
  <a routerLink="brand">
    <mat-card class="card-brand">
      <img
        mat-card-image
        src="https://i.postimg.cc/2yjWpLWv/06.jpg"
      />
      <mat-card-title class="cardTitle">Brand</mat-card-title>
      <mat-card-content class="cardContent">
        <p>Veja as Brands clicando no card</p>
      </mat-card-content>
    </mat-card>
  </a>

  <a routerLink="categoria">
    <mat-card class="card-categoria">
      <img
        mat-card-image
        src="https://i.postimg.cc/rmF3KQXP/category.png"
      />
      <mat-card-title class="cardTitle">Categorias</mat-card-title>
      <mat-card-content class="cardContent">
        <p>Veja as Categorias clicando no card</p>
      </mat-card-content>
    </mat-card>
  </a>

  <a routerLink="produto">
    <mat-card class="card-produto">
      <img
        mat-card-image
        src="https://i.postimg.cc/P58y4h7w/produto.jpg"
      />
      <mat-card-title class="cardTitle">Produtos</mat-card-title>
      <mat-card-content class="cardContent">
        <p>Veja os produtos clicando no card</p>
      </mat-card-content>
    </mat-card>
  </a>
</div>
